<p>viewmyaccounts works!</p>
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Account List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Account Number </th>
              <th>Balance </th>
            <th>User</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of myaccounts ">
            <td>{{account.aid}}</td>
             <td>{{account.balance}}</td>
            <td>
                {{account.user.username}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
